
.abstract{
    color:grey;
}

.abstract a{
    color:inherit;
    text-decoration:none;
    border:thin black solid;
}
.different{
    color: red ;
}

.different a{
    text-decoration: none ;
    border:thin black solid;
}
